{{outlet}}
<div class="container">
    <h3>Student List</h3>
  {{input type="text" class="form-control" value=searchFilter placeholder="Search" }}
  {{student-list students=filteredStudents}}
</div>


